$whiteA: #aaa;
$whiteD: #ddd;
$whiteE: #eee;
$gray2: #222;
$gray3: #333;
$black060: rgb(0 0 0 / 60%);

$color3: #edc491;
$color4: #d57b4e;
/* $color1: #036;
$color2: #f06;
$color3: #f93;
$color5: #139bbf;
$color6: #4dd0e1; */

$color5: #212f4a;
$color6: #080e24;


$breakpointBig: 2000px;
$breakpointMedium: 1470px;
$breakpointSmall: 1100px;
$breakpointMobile: 810px;


$time1: 0.15s;
$time2: 0.3s;
$time3: 5s;


$topBarHeight: 55px;
$topBarHeightMobile: 60px;
$marginTop: 50px;
$gap: 300px;
$gapMobile: 80px;


$ease-in: cubic-bezier(0.75, 0, 1, 1);
$ease-out: cubic-bezier(0, 0, 0.25, 1);
