.C\(\#f93\) {
  color: #f93;
}
.D\(b\) {
  display: block;
}
.D\(if\) {
  display: inline-flex;
}
.Flxb\(45\%\) {
  flex-basis: 45%;
}
.Fz\(3vw\) {
  font-size: 3vw;
}
.List\(n\) {
  list-style-type: none;
}
.Mx\(0\.4vw\) {
  margin-left: 0.4vw;
  margin-right: 0.4vw;
}
.Mx\(a\) {
  margin-left: auto;
  margin-right: auto;
}
.My\(1vw\), .Mt\(1vw\) {
  margin-top: 1vw;
}
.My\(1vw\), .Mb\(1vw\) {
  margin-bottom: 1vw;
}
.Mt\(0\) {
  margin-top: 0;
}
.Mt\(0\.5vw\) {
  margin-top: 0.5vw;
}
.Mt\(0vw\) {
  margin-top: 0vw;
}
.Mt\(10\%\) {
  margin-top: 10%;
}
.Mt\(2vw\) {
  margin-top: 2vw;
}
.Mt\(4vw\) {
  margin-top: 4vw;
}
.Mt\(8\%\) {
  margin-top: 8%;
}
.Mend\(10px\) {
  margin-right: 10px;
}
.Mb\(0\) {
  margin-bottom: 0;
}
.Mb\(2vw\) {
  margin-bottom: 2vw;
}
.Mstart\(2\.6em\) {
  margin-left: 2.6em;
}
.Mstart\(4vw\) {
  margin-left: 4vw;
}
.Pt\(1vw\) {
  padding-top: 1vw;
}
.Pt\(4vw\) {
  padding-top: 4vw;
}
.Pt\(6\%\) {
  padding-top: 6%;
}
.Pt\(8vw\) {
  padding-top: 8vw;
}
.Pb\(10\%\) {
  padding-bottom: 10%;
}
.Ta\(c\) {
  text-align: center;
}
.Tt\(n\) {
  text-transform: none;
}
.W\(55\%\) {
  width: 55%;
}
@media (min-width: 2000px) {
  .Pt\(120px\)--bi {
    padding-top: 120px;
  }
}
@media (max-width: 810px) {
  .D\(n\)--mo {
    display: none;
  }
  .Fz\(4vw\)--mo {
    font-size: 4vw;
  }
  .Fz\(6vw\)--mo {
    font-size: 6vw;
  }
  .Mx\(7vw\)--mo {
    margin-left: 7vw;
    margin-right: 7vw;
  }
  .My\(4vw\)--mo, .Mt\(4vw\)--mo {
    margin-top: 4vw;
  }
  .My\(4vw\)--mo, .Mb\(4vw\)--mo {
    margin-bottom: 4vw;
  }
  .Mt\(10vw\)--mo {
    margin-top: 10vw;
  }
  .Mt\(14vw\)--mo {
    margin-top: 14vw;
  }
  .Mt\(2vw\)--mo {
    margin-top: 2vw;
  }
  .Mt\(5vw\)--mo {
    margin-top: 5vw;
  }
  .Mt\(6vw\)--mo {
    margin-top: 6vw;
  }
  .Mt\(8vw\)--mo {
    margin-top: 8vw;
  }
  .Mb\(2vw\)--mo {
    margin-bottom: 2vw;
  }
  .Mb\(5vw\)--mo {
    margin-bottom: 5vw;
  }
  .Mb\(6vw\)--mo {
    margin-bottom: 6vw;
  }
  .Mb\(8vw\)--mo {
    margin-bottom: 8vw;
  }
  .Mstart\(0vw\)--mo {
    margin-left: 0vw;
  }
  .Mstart\(4vw\)--mo {
    margin-left: 4vw;
  }
  .Pt\(18vw\)--mo {
    padding-top: 18vw;
  }
  .Pt\(2vw\)--mo {
    padding-top: 2vw;
  }
  .Pt\(3vw\)--mo {
    padding-top: 3vw;
  }
  .Pt\(4vw\)--mo {
    padding-top: 4vw;
  }
  .Pt\(5vw\)--mo {
    padding-top: 5vw;
  }
  .Pt\(6vw\)--mo {
    padding-top: 6vw;
  }
  .Pt\(8vw\)--mo {
    padding-top: 8vw;
  }
  .Pb\(10vw\)--mo {
    padding-bottom: 10vw;
  }
  .Pb\(4vw\)--mo {
    padding-bottom: 4vw;
  }
  .Pb\(6vw\)--mo {
    padding-bottom: 6vw;
  }
  .Pb\(8vw\)--mo {
    padding-bottom: 8vw;
  }
  .Pstart\(2vw\)--mo {
    padding-left: 2vw;
  }
  .Pstart\(4vw\)--mo {
    padding-left: 4vw;
  }
  .W\(a\)--mo {
    width: auto;
  }
}
